/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

.ContenedorGeneral
{
    width: 100vw;
    height: 92vh;
    background-color: #F1E8FF;
    margin-left: -32px;
    padding: 15px;
}

.indice
{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-left: 30px;
}

.ContenidoPrincipal
{
    /*background-color: crimson;*/
    width: 100%;
    height: 70vh;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

/*----------------------------------------------------------*/

.barra
{
    width: 18vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/*----------------------------------------------------------*/

.opciones
{
    width: 100%;
    height: 25vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.filtro
{
    width: 100%;
    height: 40vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/*----------------------------------------------------------*/

.contenido
{
    width: 71vw;
    height: 70vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contenido::-webkit-scrollbar
{
    -webkit-appearance: none;
}

.contenido::-webkit-scrollbar:vertical
{
    width: 10px;
}

.contenido::-webkit-scrollbar-button:increment, #scroll::-webkit-scrollbar-button
{
    display: none;
}

.contenido::-webkit-scrollbar:horizontal
{
    height: 10px;
}

.contenido::-webkit-scrollbar-thumb
{
    background-color: #DFDFDF;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenido::-webkit-scrollbar-track
{
    border-radius: 10px;
}

/*----------------------------------------------------------*/

.tarjeta
{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 33.5vw;
    height: 40.9vh;
    border-radius: 10px;
    display: flex;
}

/*----------------------------------------------------------*/

.perfil
{
    background: rgba(64, 50, 155, 0.16);
    width: 20vw;
    height: 40.9vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*---------------------------*/

.apartadoA
{
    width: 17vw;
    height: 19.5vh;
    padding: 15px;
}

.muestraInicial
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.foto
{
    background: linear-gradient(135deg, #74FFAB 0%, #7CA9FF 100%);
    border-radius: 50px;
    width: 90px;
    height: 90px;
}

.estado
{
    background: #63FFB4;
    border-radius: 10px;
    width: auto;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.icono
{
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 20px;
    margin-right: 5px;
}

.nombreEstado
{
    height: 100%;
    width: auto;
    padding-right: 5px;
}

.nombreEstado p
{
    margin-top: -2px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

/*---------------------------*/

.apartadoB
{
    width: 17vw;
    height: 15vh;
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 15px;
}

.texto
{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    gap: 5px;
}

.iconoTexto
{
    background-color: #e4e4e4;
    border-radius: 5px;
    height: 100%;
    width: 20px;
    margin-right: 5px;
    color: #909090;
    padding-left: 2.5px;
    font-size: 15px;
}

.texto p
{
    font-size: 14px;
    color: #666666;
}

/*---------------------------*/
.apartadoC
{
    width: 17vw;
    height: min-content;
    display: flex;
    padding: 15px;
    padding-top: 0px;
    gap: 15px;
}

.edicion
{
    outline: none;
    border: 0px;
    width: 100%;
    height: 30px;
    background: #b7aaed;
    border-radius: 10px;
    color: white;
}

.rechazo
{
    outline: none;
    border: 0px;
    width: 100%;
    height: 30px;
    background: #b7aaed;
    border-radius: 10px;
    color: white;
}

/*----------------------------------------------------------*/
.extras
{
    width: 20vw;
    height: 40.9vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

/*---------------------------*/

.textoExtra
{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.iconoExtra
{
    width: 40px;
    height: 100%;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    font-size: 20px;
    padding-top: 1.5px;
    padding-left: 6.5px;
    color: #909090;
}

.apartadoExtra
{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.06);
/*    background-color: aquamarine;*/
    border-radius: 10px;
    padding-top: 4px;
    padding-left: 7px;
}

.apartadoExtra p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4e4e4e;
}

.correo
{
    font-size: 10px !important;
    margin-top: 4.5px;
}
