
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

.tituloModalAgregar
{
    background-color: #e9e9ff;
    width: 55%;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Raleway', sans-serif;
    border-left: 15px solid #9a9ad5;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.contenedorInputs
{
    display: flex;
    /*    background-color: red;*/
    height: auto;
}

.parteInputsA
{
    /*background-color: green;*/
    padding-right: 10px;
    width: 100%;
    height: auto;
}

.parteRelacionales
{
    width: 100%;
    height: auto;
    display: flex;
    gap: 15px;
}

.parteInputsB
{
    /*background-color: purple;*/
    padding-left: 10px;
    width: 100%;
    height: auto;
}

.inputModal
{
    border-radius: 10px;
    background-color: #afafe7;
}

.botonEjecutar
{
    background-color: #91afe5;
    border-radius: 10px;
    border: 0px;
}

/*-----------------------------------------------------------*/

.apartadoInput
{
    display: flex;
    flex-direction: column;
}

.agrupacionInput
{
    display: flex;
    flex-direction: row;
}

.errorInput
{
    margin-left: 40px;
}
