body
{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.contenedor
{
    width: 100%;
    height: 92vh;
    padding: 20px;
    overflow: hidden;
    display: flex;
}

/*----------------------------------------------*/

.contenedorFiltro
{
    width: 18vw;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opciones
{
    width: 100%;
    height: 30vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.contenendorButton
{
    width: 100%;
    height: auto;
    background-color: aqua;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contenendorButton button
{
    width: 100%;
    border: 0px;
    transition: 0.5s;
}

.contenendorButton button:hover
{
    color: white;
    background-color: rebeccapurple;
}

.filtro
{
    width: 100%;
    height: 50vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/*----------------------------------------------*/

.contenedorTarjetas
{
    width: 79.5vw;
    height: 86.2vh;
    overflow-y: scroll;
    padding: 30px;

    display: flex;
    gap: 30px 30px;
    flex-wrap: wrap;
}


.contenedorTarjetas::-webkit-scrollbar
{
    -webkit-appearance: none;
}

.contenedorTarjetas::-webkit-scrollbar:vertical
{
    width: 8px;
}

.contenedorTarjetas::-webkit-scrollbar-button:increment, #scroll::-webkit-scrollbar-button
{
    display: none;
}

.contenedorTarjetas::-webkit-scrollbar:horizontal
{
    height: 10px;
}

.contenedorTarjetas::-webkit-scrollbar-thumb
{
    background-color: #eeeeee;
    border-radius: 20px;
    border: 1px solid #D4D4D4;
}

.contenedorTarjetas::-webkit-scrollbar-track
{
    border-radius: 10px;
}

.tarjeta
{
    width: 17.1vw;
    height: 60vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;       
}
