@inject IOrganismoService organismoService;
<style>
    :root
    {
        --color-inputs: #afafe7;
    }
</style>

<h5 class="tituloModalAgregar">Agregar Organismo</h5>
<br />

@* <EditForm Model="organismo" OnValidSubmit="OnValidSubmit"> 

    <DataAnnotationsValidator></DataAnnotationsValidator> *@

    <div class="contenedorInputs">

        <div class="parteInputsA">
        
            @* apartado para agregar los inputs, selects, etc... *@

        </div>

        <div class="parteInputsB">

            @* apartado para agregar los inputs, selects, etc... *@

        </div>

    </div>

    <br />

    <button type="submit" class="btn btn-success botonEjecutar"><i class="bi bi-check-circle-fill"></i>&nbsp;&nbspHOLAXD</button>

@* </EditForm> *@


@code 
{
    [Parameter]
    public int idOrganismoEditar { get; set; } = 0;

    string titulo = string.Empty;
    string btnTexto = string.Empty;

    //----------------------------------------------------------------------------------

    OrganismoDTO organismo = new OrganismoDTO();

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    //----------------------------------------------------------------------------------

}
