@page "/VistaPerfilUsuario"


<section class="ContenedorGeneral">

    <h3>VistaPerfilUsuario</h3>

            <div class="Micontenido">

                <div class="perfil">
                    <p class="InputNombre">Josue Emanuel Hernandez Ortega</p>
                </div>

                <div class="tarjeta">
                    <div class="Apartado1">
                        <div class="textoInput">
                            <div class="iconoInput">
                                <i class="bi bi-person-vcard-fill"></i>
                            </div>
                            <div class="ApartadoInput">
                                <p>Celular</p>
                            </div>
                        </div>
                    
                        <div class="textoInput">
                            <div class="iconoInput">
                                <i class="bi bi-person-vcard-fill"></i>
                            </div>
                            <div class="ApartadoInput">
                                <p>Celular</p>
                            </div>
                        </div>
                    </div>
                    <div class="Apartado2">

                    </div>
                </div>

            </div>

        </section>


@code {

}
