.my-modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 80%;
    --bs-modal-margin: 4.5em;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

/*---------------------------------------------------------*/

.contenedor {
    height: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

/*---------------------------------------------------------*/

.encabezado {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.alInicio {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    border-bottom: solid;
    border-width: 2px;
}

.alInicio p {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: solid;
}

.alFinal {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 5px;
    justify-content: end;
    border-bottom: solid;
    border-width: 2px;
}

.alFinal i {
    width: 40px;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: solid;
}

.alFinal i:hover {
    cursor: pointer;
    background-color: #979797a5;
    transition: .3s .1s;
}

/*---------------------------------------------------------*/

.cuerpo {
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: row;
}

/*---------------------------------------------------------*/

.pie {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}

.pie button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #38bb00aa;
    color: white;
}

.pie button:hover {
    background-color: #38b503c7;
    transition: .3s .1s;
}

/*---------------------------------------------------------*/

.divisor {
    border-radius: 3px;
    width: 6px;
    height: 100%;
    background-color: black;
}

.divisor-item {
    background-color: #b6b6b655;
    width: 9px;
    margin-left: 5.5px;
    margin-right: 5.5px;
    margin-top: 12px;
    height: 65%;
}

.divisor-falso {
    width: 9px;
    margin-left: 5.5px;
    margin-right: 5.5px;
}

/*---------------------------------------------------------*/

.contenedorChecks {
    height: 400px;
    width: 100%;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    gap: 25px;
}

.contenedorTextos {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*---------------------------------------------------------*/

.fila {
    background-color: #f1f1f1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
}

.itemColumna {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.itemTitulo {
    background-color: #dbdbff;
    width: 150px;
    padding-left: 5px;
    font-family: 'Raleway', sans-serif;
    border-left: 10px solid #9a9ad5;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 5px;
}

.itemFalso {
    width: 100%;
    height: 100%;
    gap: 15px;
}

.itemCheck {
    background-color: #b6b6b655;
    width: 100%;
    height: 100%;
    border-radius: 7.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.itemCheck input[type=checkbox] {
    width: 50px;
}

.itemCheck i {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 40px;
}

/*---------------------------------------------------------*/

.gap5 {
    gap: 5px !important;
}
