.my-modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 700px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.nuevoMargenModal {
    margin-left: 44.4em !important;
    margin-top: 3.3em !important;
}

/*---------------------------------------------------------*/

.contenedor {
    height: 700px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

/*---------------------------------------------------------*/

.encabezado {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.alInicio {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #890000;
    display: flex;
    justify-content: flex-start;
}

.alInicio p {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 25px;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: solid;
    background-color: #db404050;
    border-left: 15px solid #db4040;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.alFinal {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 5px;
    justify-content: end;
    border-bottom: solid;
    border-width: 2px;
    border-color: #890000;
}

.alFinal i {
    width: 40px;
    height: 100%;
    background-color: #ee01016d;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: solid;

}

.alFinal i:hover {
    cursor: pointer;
    background-color: #b50303c7;
    transition: .3s .1s;
}

/*---------------------------------------------------------*/

.cuerpo {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/*---------------------------------------------------------*/

.pie {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3px;
}

.pie button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #bb0000aa;
    color: white;
}

.pie button:hover {
    background-color: #b50303c7;
    transition: .3s .1s;
}

/*---------------------------------------------------------*/

.contenedorInfo {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
}

.contenedorInfo::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedorInfo::-webkit-scrollbar:vertical {
    width: 8px;
}

.contenedorInfo::-webkit-scrollbar-button:increment, #scroll::-webkit-scrollbar-button {
    display: none;
}

.contenedorInfo::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedorInfo::-webkit-scrollbar-thumb {
    background-color: #a1a1a191;
    border-radius: 20px;
    border: 1px solid #D4D4D4;
}

.contenedorInfo::-webkit-scrollbar-track {
    border-radius: 10px;
}

/*---------------------------------------------------------*/

.contenedorRepo{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
}

.contenedorRepo::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedorRepo::-webkit-scrollbar:vertical {
    width: 8px;
}

.contenedorRepo::-webkit-scrollbar-button:increment, #scroll::-webkit-scrollbar-button {
    display: none;
}

.contenedorRepo::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedorRepo::-webkit-scrollbar-thumb {
    background-color: #a1a1a191;
    border-radius: 20px;
    border: 1px solid #D4D4D4;
}

.contenedorRepo::-webkit-scrollbar-track {
    border-radius: 10px;
}


/*---------------------------------------------------------*/

.targetaInfo{
    width: 100%;
    height: 250px;
    margin-bottom: 7.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #81000058;
}

.targetaEncabezado{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #000000;
}

.targetaEncabezado p {
    height: 100%;
    font-size: 18.5px;
    font-weight: 700;
    text-decoration: solid;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.targetaCuerpo{
    width: 100%;
    height: 80%;
    padding-top: 10px;
}

/*---------------------------------------------------------*/

.itemRepo{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    gap: 5px;
}

.itemRepo p{
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemTitulo {
    background-color: #dbdbff;
    width: 150px;
    padding-left: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: #db404050;
    border-left: 10px solid #db4040;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 5px;
}

/*---------------------------------------------------------*/

.itemInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.itemInfo h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    background: rgb(219, 219, 219, 0.64);
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: #3c3c3c;
}

.itemInfo p{
    height: 25px;
    width: 100%;
    background-color: #eeeeeeb9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

