.opciones{
    width: 17vw;
    height: auto;
    padding: 10px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.opciones button{

    width: 100%;
    height: auto;
    border-radius: 5px;
}


/*---------------------------------------------------------*/

.stack-h{

    width: 100%;
    height: 95%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    gap: 30px
}

.stack-h-options{
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.stack-h-options button{
    margin: 10px;
}


.stack-v{

    width: 100%;
    background-color: chartreuse;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    gap: 25px;
}

.stack-v-nogap {
    width: 100%;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    padding-left: 0px;
}

.targeta{

    width: 100%;
    height: 100%;
    background-color:crimson;

}

.column{

    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction:column;
    gap: 12px;
}


/*---------------background: rgba(64, 50, 155, 0.10);------------------------------------------*/

.title-md{
    width: 100%;
    height: 40px;
    background-color: darkorange;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    font-size: 20px;
    text-decoration: solid;
}

.subtitle-md {
    width: 100%;
    height: 30px;
    background-color: darkorange;
    border-radius: 10px;
    padding-top: 2.5px;
    padding-left: 5px;
    display: flex;
    font-size: 15px;
    text-decoration: solid;
}

.subtitle-sh {
    width: 65%;
    height: 30px;
    background-color: darkorange;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 2.5px;
    display: flex;
    font-size: 12.5px;
    text-decoration: solid;
}


/*---------------background: rgba(64, 50, 155, 0.10);------------------------------------------*/

.texto {
    width: 100%;
    height: 30px;
    background-color: darkorange;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    gap: 5px;
}



.iconoTexto {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 20px;
    margin-right: 5px;
    color: rgba(64, 50, 155, 0.40);
    padding-left: 2.5px;
    font-size: 15px;
}

.texto p {
    font-size: 14px;
    color: #666666;
}


/*---------------background: rgba(64, 50, 155, 0.10);------------------------------------------*/

.texto-md-left {
    width: 25%;
    height: 30px;
    background-color: darkorange;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    gap: 5px;
}

.iconoTexto-md-left {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 15px;
    margin-right: 5px;
    color: rgba(64, 50, 155, 0.40);
    padding-left: 2.5px;
    font-size: 15px;
}

.texto-md-left p {
    font-size: 13px;
    color: #666666;
}


/*---------------background: rgba(64, 50, 155, 0.10);------------------------------------------*/

.texto-sh-left {
    width: 100%;
    height: 30px;
    background-color: darkorange;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    gap: 5px;
}

.iconoTexto-sh-left {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 20px;
    margin-right: 5px;
    color: rgba(64, 50, 155, 0.40);
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.texto-sh-left p {
    font-size: 12px;
    color: #666666;
}

/*---------------------------------------------------------*/

.space-sh {
    width: 100%;
    height: 6px;

}

.space-sm {
    width: 100%;
    height: 45px;
}

.space-md {
    width: 100%;
    height: 75px;

}