.opciones{
    width: 17vw;
    height: auto;
    padding: 10px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.opciones button{

    width: 100%;
    height: auto;
    border-radius: 5px;
}

/*---------------------------------------------------------*/

.apartadoExtra {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.06);
    /*    background-color: aquamarine;*/
    border-radius: 10px;
    padding-top: 6px;
    padding-left: 7px;
}

/*---------------------------------------------------------*/

.stack-h{

    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    gap: 15px
}

.stack-h-options{
    background-color: #bababa;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.stack-h-options button{
    margin: 10px;
}


.stack-v{

    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    gap: 25px;
}

.stack-v-nogap {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}

.column{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    gap: 12px;
}

.fila {
    background-color: #7b4f8ff2;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
}

/*---------------------------------------------------------*/

.targeta {
    width: 100%;
    height: 100%;
    background-color: crimson;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    padding: 10px;
    padding-right: 15px;
}

.targeta::-webkit-scrollbar {
    -webkit-appearance: none;
}

    .targeta::-webkit-scrollbar:vertical {
        width: 8px;
    }

.targeta::-webkit-scrollbar-button:increment, #scroll::-webkit-scrollbar-button {
    display: none;
}

.targeta::-webkit-scrollbar:horizontal {
    height: 10px;
}

.targeta::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #D4D4D4;
}

.targeta::-webkit-scrollbar-track {
    border-radius: 10px;
}

/*---------------background: rgba(64, 50, 155, 0.10);------------------------------------------*/

.title-md{
    width: 100%;
    height:52px;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    display: flex;
    font-size: 20px;
    text-decoration: solid;
}

.title-md-fila {
    width: 25%;
    height: 45px;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    display: flex;
    font-size: 17px;
    text-decoration: solid;
}

.subtitle-md {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding-top: 2.5px;
    padding-left: 5px;
    display: flex;
    font-size: 15px;
    text-decoration: solid;
}

.subtitle-sh {
    width: 65%;
    height: 30px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 2.5px;
    display: flex;
    font-size: 12.5px;
    text-decoration: solid;
}


/*---------------background: rgba(64, 50, 155, 0.10);------------------------------------------*/

.texto {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    gap: 5px;
}



.iconoTexto {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 20px;
    margin-right: 5px;
    color: rgba(64, 50, 155, 0.40);
    padding-left: 2.5px;
    font-size: 15px;
}

.texto p {
    font-size: 14px;
    color: #666666;
}


/*---------------background: rgba(64, 50, 155, 0.10);------------------------------------------*/

.texto-md-left {
    width: 25%;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    gap: 5px;
}

.iconoTexto-md-left {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 15px;
    margin-right: 5px;
    color: rgba(64, 50, 155, 0.40);
    padding-left: 2.5px;
    font-size: 15px;
}

.texto-md-left p {
    font-size: 13px;
    color: #666666;
}


/*---------------background: rgba(64, 50, 155, 0.10);------------------------------------------*/

.texto-sh-left {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    display: flex;
    gap: 2.5px;
}

.iconoTexto-sh-left {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 35px;
    margin-right: 5px;
    color: rgba(64, 50, 155, 0.40);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.texto-sh-left p {
    font-size: 12px;
    color: #666666;
}

/*---------------------------------------------------------*/

.comentario-opcion {
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: end;
}

.comentario-btn {
    width: 40px;
    height: 100%;
    display:flex;
    align-items: center;
}

.comentario-btn button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5.5px;
}

/*---------------------------------------------------------*/

.seccionComentario {
    background-color: #f1f1f1;
    width: 100%;
    height: 180px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 12px;
    padding-right: 14px;
    font-weight: 400;
    text-align: justify;
}

.bodyComentario {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.bodyComentario::-webkit-scrollbar {
    -webkit-appearance: none;
}

.bodyComentario::-webkit-scrollbar:vertical {
    width: 8px;
}

.bodyComentario::-webkit-scrollbar-button:increment, #scroll::-webkit-scrollbar-button {
    display: none;
}

.bodyComentario::-webkit-scrollbar:horizontal {
    height: 10px;
}

.bodyComentario::-webkit-scrollbar-thumb {
    background-color: #454545d9;
    border-radius: 20px;
    border: 1px solid #D4D4D4;
}

.bodyComentario::-webkit-scrollbar-track {
    border-radius: 10px;
}


/*---------------------------------------------------------*/

.btn-fin{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: end;
}

.btn-fin button{
    width: 30px;
    border: none;
    border-radius: 2.5px;
}

.btn-inicio {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*---------------------------------------------------------*/

.space-sh {
    width: 100%;
    height: 19px;

}

.space-sm-40 {
    width: 100%;
    height: 40px;
}


.space-sm-30 {
    width: 100%;
    height: 30px;

}

.space-bg-72 {
    width: 100%;
    height: 72px;
}


.fake-text {
    width: 100%;
    height: 30px;
}

.padding-15{
    padding: 15px;
}

.padding-10{
    padding: 10px;
}

.br-15{
    border-radius: 15px;
}

gap-0{
    gap: 0px;
}

.gap-10{
    gap: 10px;
}

.aceptado {
    border-right: 15px solid #50c434;
}

.rechazado {
    border-right: 15px solid #d10808;
}
