@page "/vistaReporteInspeccion"

<section class="ContenedorGeneral">

    <div class="opciones">

        <button>boton</button>
        <button>boton</button>
        <button>boton</button>

    </div>

    <div class="stack-h">

        <div class="stack-v-nogap">

            <div class="stack-h">
                <div class="column">

                    <div class="title-md">
                        <p>Hola soy un titulo</p>
                    </div>


                    <div class="space-sh"></div>



                    <div class="texto-sh-left">
                        <div class="iconoTexto-sh-left">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <p>Hola soy un texto</p>
                    </div>

                    <div class="texto-sh-left">
                        <div class="iconoTexto-sh-left">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <p>Hola soy un texto</p>
                    </div>

                    <div class="texto-sh-left">
                        <div class="iconoTexto-sh-left">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <p>Hola soy un texto</p>
                    </div>



                    <div class="space-sm"></div>



                    <div class="subtitle-sh">
                        <p>Hola soy un subtitulo</p>
                    </div>

                    <div class="texto-sh-left">
                        <div class="iconoTexto-sh-left">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <p>Hola soy un texto</p>
                    </div>

                    <div class="texto-sh-left">
                        <div class="iconoTexto-sh-left">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <p>Hola soy un texto</p>
                    </div>

                    <div class="texto-sh-left">
                        <div class="iconoTexto-sh-left">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <p>Hola soy un texto</p>
                    </div>

                    <div class="texto-sh-left">
                        <div class="iconoTexto-sh-left">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <p>Hola soy un texto</p>
                    </div>

                </div>
                
                <div class="column">

                    <div class="texto-sh-left">
                        <div class="iconoTexto-sh-left">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <p>Hola soy un texto</p>
                    </div>
                </div>
                
                <div class="column">
                    <div class="texto-sh-left">
                        <div class="iconoTexto-sh-left">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <p>Hola soy un texto</p>
                    </div>
                </div>
            </div>

            <div class="stack-h-options">
                <button>boton</button>
                <button>boton</button>
                <button>boton</button>
            </div>

        </div>

        <div class="stack-v">

            <div class="targeta">


            </div>

            <div class="targeta">


            </div>

        </div>


    </div>

@*     <div class="comentarios">
    </div>

    <div class="aceptados">
    </div>

    <div class="rechazados">
    </div> *@

</section>



@code {

}
