@page "/vistaRequisitosMenores"
@inject SweetAlertService Sweet;
@inject TituloService tituloService;

<section class="ContenedorGeneral">

    <h5 class="indice">Inicio > Administracion de Requisitos Menores</h5>

    <section class="ContenidoPrincipal">

        <div class="barra">

            <div class="opciones">

                @* Apartado de Opciones mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

                <div class="tituloOpciones">
                    <p>Opciones de los requisitos</p>
                </div>

                <div class="botonesOpciones">

                    <button class="informe"><i class="bi bi-file-earmark-plus"></i> Reporte</button>

                </div>

                <div class="tituloOpciones">
                    <p>Buscador</p>
                </div>

                <input type="text" @* @bind="valorBusqueda" *@ @* @oninput="CargarPersonalBuscado" *@ class="buscador" placeholder="Buscar Registro" />

                @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            </div>

            <div class="filtro">

                @* Apartado de Filtros mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

                <div class="tituloFiltro">
                    <p>Filtros para los requisitos</p>
                </div>

                <div class="contenidoFiltro">

                    <div class="espacioFiltro">

                        <h5>Filtrar por orden:</h5>

                        <div class="contenedorChecks">

                            @* apartado checks 2 *@

                            <div class="contenCheck">
                                <input checked="" type="checkbox" id="checkOrden1" name="checkOrden1" />
                                <label class="nombreCheck" for="checkOrden1">Ascendente</label>
                            </div>

                            <div class="contenCheck">
                                <input checked="" type="checkbox" id="checkOrden2" name="checkOrden2" />
                                <label class="nombreCheck" for="checkOrden2">Descendente</label>
                            </div>

                        </div>

                    </div>

                    <div class="espacioFiltro">

                        <h5>Filtrar por tipo:</h5>

                        <div class="contenedorChecks">

                            @* apartado checks 2 *@

                            <div class="contenCheck">
                                <input checked="" type="checkbox" id="" />
                                <label class="nombreCheck" for="">Tipado 1</label>
                            </div>

                        </div>

                    </div>

                    <div class="espacioFiltro">

                        <h5>Filtrar por estado:</h5>

                        <div class="contenedorChecks">

                            @* apartado checks 1 *@

                            <div class="contenCheck">
                                <input checked="" type="checkbox" id="" />
                                <label class="nombreCheck" for="">Estado 1</label>
                            </div>

                        </div>

                    </div>

                </div>

                @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            </div>

        </div>

        <div class="contenido">

            @* Apartado de Contenido mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            <div class="tarjeta">

                <div class="tarjetaTitulos">

                    <div class="tituloA">
                        <p>RMN-103224</p>
                    </div>

                    <div class="tituloB">
                        <p>@DateTime.Now</p>
                    </div>

                </div>

                <div class="tarjetaContenido">

                    <div class="perfil">

                        <div class="apartadoA">

                            <div class="texto">
                                <div class="iconoTexto">
                                    <i class="bi bi-building-fill"></i>
                                </div>
                                <p>ZT Ingenieros</p>
                            </div>

                            <div class="texto">
                                <div class="iconoTexto">
                                    <i class="bi bi-person-circle"></i>
                                </div>
                                <p>RogerDestres</p>
                            </div>

                            <div class="tituloChecks">
                                <p>Apartado Checks</p>
                            </div>

                        </div>

                        <div class="apartadoB">

                            <div class="checks">
                                <div class="iconoCheck">
                                    <i class="bi bi-check-circle-fill"></i>
                                </div>
                                <input class="mtp" checked="" type="checkbox" id="" />
                            </div>

                            <div class="checks">
                                <div class="iconoCheck">
                                    <i class="bi bi-clipboard2-check-fill"></i>
                                </div>
                                <input checked="" type="checkbox" id="" />
                            </div>

                            <div class="checks">
                                <div class="iconoCheck">
                                    <i class="bi bi-person-vcard-fill"></i>
                                </div>
                                <input checked="" type="checkbox" id="" />
                            </div>

                            <div class="checks">
                                <div class="iconoCheck">
                                    <i class="bi bi-person-vcard"></i>
                                </div>
                                <input checked="" type="checkbox" id="" />
                            </div>

                            <div class="checks">
                                <div class="iconoCheck">
                                    <i class="bi bi-credit-card-2-front-fill"></i>
                                </div>
                                <input checked="" type="checkbox" id="" />
                            </div>

                            <div class="checks">
                                <div class="iconoCheck">
                                    <i class="bi bi-person-vcard"></i>
                                </div>
                                <input checked="" type="checkbox" id="" />
                            </div>

                            <div class="checks">
                                <div class="iconoCheck">
                                    <i class="bi bi-card-heading"></i>
                                </div>
                                <input checked="" type="checkbox" id="" />
                            </div>

                            <div class="checks">
                                <div class="iconoCheck">
                                    <i class="bi bi-clipboard-plus-fill"></i>
                                </div>
                                <input checked="" type="checkbox" id="" />
                            </div>

                            <div class="checks">
                                <div class="iconoCheck">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <input checked="" type="checkbox" id="" />
                            </div>

                            <div class="checks">
                                <div class="iconoCheck">
                                    <i class="bi bi-file-earmark-image-fill"></i>
                                </div>
                                <input checked="" type="checkbox" id="" />
                            </div>

                            <div class="checks">
                                <div class="iconoCheck">
                                    <i class="bi bi-pass-fill"></i>
                                </div>
                                <input checked="" type="checkbox" id="" />
                            </div>

                        </div>

                    </div>

                    <div class="extras">

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-person-vcard-fill"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>duiPropietario.pdf</p>
                            </div>
                        </div>

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-person-vcard"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>duiCliente.pdf</p>
                            </div>
                        </div>

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-person-vcard"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>duiElectricista.pdf</p>
                            </div>
                        </div>

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-card-heading"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>carnetElectricista.pdf</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

        </div>

    </section>

    <section class="footer">

        <div class="paginacion">

            @* <PaginadoPersonal PaginaActual="@paginaActual"
            TotalPaginas="@totalPaginas"
            OnPageChanged="HandlePageChanged">
            </PaginadoPersonal> *@

        </div>

    </section>

</section>

@code
{
    protected override async Task OnInitializedAsync()
    {
        tituloService.AgregarTitulo("Administracion de Requisitos Menores");
    }
}
