@inject AuthenticationStateProvider _authStateProvider;
@inject TituloService tituloService
@inherits LayoutComponentBase

<div class="page">

    <div class="">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            
            <div class="ApartadoMenu">
                <button class="btn btn-secondary botonMenu" type="button" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="oi oi-menu"></i></button>
                <h3>@tituloService.Titulo</h3>
            </div>

            <a class="user" style="text-decoration:none; color:white; z-index: 5;" href="vistaPerfil">@nickname<span class="spanRange">@rango</span></a>

            <div class="sombreado1"></div>
            <div class="sombreado2"></div>
            <div class="sombreado3"></div>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<RadzenComponents />

@code
{
    private string nickname;
    private string rango;

    protected override async Task OnInitializedAsync()
    {
        tituloService.OnTitleChanged += StateHasChanged;

        await DatosAutenticados();
    }

    public void Dispose()
    {
        tituloService.OnTitleChanged -= StateHasChanged;
    }

    private async Task DatosAutenticados()
    {
        var authState = await _authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var nicknameClaim = user.Claims.FirstOrDefault(c => c.Type == "Nickname");
            var RangoClaim = user.Claims.FirstOrDefault(c => c.Type == "Rango");

            if (nicknameClaim != null && RangoClaim != null)
            {
                nickname = nicknameClaim.Value;
                rango = RangoClaim.Value;
            }
            else
            {
                nickname = "Unknown User";
                rango = "Unknown Range";
            }
        }
        else
        {
            nickname = "Not authenticated";
        }
    }
}
