
<div class="offcanvas offcanvas-start menuLateral" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><strong>Siget System</strong></h5>
    </div>
    <div class="offcanvas-body">

        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="color: #222222 !important;" href="" Match="NavLinkMatch.All">
                    <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-house-fill"></i></span>&nbsp;&nbsp;&nbsp;<strong class="titulomenu">Home</strong>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="color: #222222 !important;" href="vistaPersonal">
                    <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-people-fill"></i></span>&nbsp;&nbsp;&nbsp;<strong class="titulomenu">Personal</strong>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="color: #222222 !important;" href="vistaOrganismo">
                    <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-building-fill"></i></span>&nbsp;&nbsp;&nbsp;<strong class="titulomenu">Organismos</strong>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="color: #222222 !important;" href="vistaRepresentante">
                    <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-person-badge-fill"></i></span>&nbsp;&nbsp;&nbsp;<strong class="titulomenu">Representante</strong>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="color: #222222 !important;" href="vistaRequisitosMenores">
                    <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-clipboard2-minus-fill"></i></span>&nbsp;&nbsp;&nbsp;<strong class="titulomenu">Requisitos Minimos</strong>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="color: #222222 !important;" href="vistaRequisitosMayores">
                    <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-clipboard-plus-fill"></i></span>&nbsp;&nbsp;&nbsp;<strong class="titulomenu">Requisitos Mayores</strong>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="color: #222222 !important;" href="vistaReporte">
                    <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-file-earmark-check-fill"></i></span>&nbsp;&nbsp;&nbsp;<strong class="titulomenu">Reporte Inspeccion</strong>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="color: #222222 !important;" href="vistaComentariosSiget">
                    <span style="font-size: 20px;" aria-hidden="true"><i class="bi bi-chat-left-text-fill"></i></span>&nbsp;&nbsp;&nbsp;<strong class="titulomenu">Comentarios Siget</strong>
                </NavLink>
            </div>
        </nav>

    </div>
</div>

@code 
{
    // private bool collapseNavMenu = true;

    // private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // private void ToggleNavMenu()
    // {
    //     collapseNavMenu = !collapseNavMenu;
    // }
}
